{% extends 'base.jinja' %}
{% block content %}
    <h1>Ressourcenpool Bamberg</h1>
    <form action="" method="post">
    {{ csrf_input }}
    <div class="container">
    <h1>Passwort ändern</h1>
    <p>Bitte füllen Sie das folgende Formular aus.</p>
    <hr>

    <label for="psw"><b>Passwort</b></label>
    <input type="password" placeholder="Neues Passwort" name="psw" required>

    <label for="psw-repeat"><b>Passwort wiederholen</b></label>
    <input type="password" placeholder="Neues Passwort wiederholen" name="psw-repeat" required>
    <hr>

    <button type="submit" class="registerbtn">Passwort ändern</button>
  </div>

</form>

{% endblock %}
