{# Password reset form which allows users to set a new password
Author: Sebastian Brehm
#}
{% extends 'base.jinja' %}
{% block headline %}Passwort ändern{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center">
        <div class="col-sm-12 col-sm-offset-1">
            <br>
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
             {% for error in  form.non_field_errors() %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
            {% endfor %}
            <p><b>Bitte geben Sie hier Ihr neues Passwort ein:</b></p>
            <div class="form-group">
            <input type="password" id="id_new_password1" name="new_password1" class="form-control input-lg" tabindex="4">
            </div>
            <p><b>Bitte bestätigen Sie Ihr neues Passwort:</b></p>
            <div class="form-group">
            <input type="password" id="id_new_password2" name="new_password2" class="form-control input-lg" tabindex="4">
            </div>
            <div class="row">
            <button type="submit" class="btn btn-success btn-block btn-lg">Passwort ändern</button>
            </div>
        </form>
            <br>
        </div>
        </div>
    </div>
{% endblock %}


