{# Page which is shown to a user who requested a password change
Author: Sebastian Brehm
#}
{% extends 'base.jinja' %}
{% block headline %}Passwort zurückgesetzt{% endblock %}
{% block content %}
<div class="container">
	<div class="row text-center">
        <div class="col-sm-12 col-sm-offset-1">
        <br><br> <h2 style="color:#0fad00">Ihr Passwort wurde zurückgesetzt.</h2>
        <h3>    Wir haben Ihnen eine Mail mit den weiteren Schritten zur Änderung Ihres Passworts zugesendet.</h3>
        <p style="font-size:20px;color:#5C5C5C;">   Bitte überprüfen Sie auch Ihren Spam-Ordner.</p>
    <br><br>
        </div>
	</div>
</div>
{% endblock %}