{# Form where users can change their password, only user input is his/her e-mail address
Author: Sebastian Brehm
#}
{% extends 'base.jinja' %}
{% block headline %}Passwort vergessen?{% endblock %}
{% block content %}
      <div class="container">
        <div class="row text-center">
        <div class="col-sm-12 col-sm-offset-1">
            <br>
        <form method="post">
            <div class="form-group">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form.as_p() }}
            <button type="submit" class="btn btn-success btn-block btn-lg">Passwort ändern</button>
            </div>
        </form>
    </div>
        </div>
      </div>
<br>
{% endblock %}
