{# Mail which is send to users to change their password
Author: Sebastian Brehm
#}
{% block content %}
{% autoescape off %}
<h1>Hallo!</h1>
    <h2>Bitte klicken Sie auf folgenden Link, um ein neues Passwort für Ihren Account zu setzen: <br>
     <a href="http://localhost:8000{{ url('accounts:password_reset_confirm', kwargs={'uidb64':uid, 'token':token}) }}">Passwort neu setzen</a>
    {% endautoescape %}</h2>
{% endblock %}
