{# Page where a user if the registration didn't work
Author: Sebastian Brehm
#}
{% extends 'base.jinja' %}
{% block headline %}Es ist ein Fehler bei der Registrierung aufgetreten.{% endblock %}
{% block content %}
<div class="container">
	<div class="row text-center">
        <div class="col-sm-12 col-sm-offset-1">
        <h3>  Bitte wenden Sie sich an einen Ansprechpartner vom Ressourcenpool Bamberg.  </h3>
    <br><br>
        </div>
	</div>
</div>
{% endblock %}