{# Success page after the registration process
Author: Sebastian Brehm
#}
{% extends 'base.jinja' %}
{% block headline %}Sie haben sich erfolgreich für den Ressourcenpool registriert.{% endblock %}
{% block content %}
<div class="container">
	<div class="row text-center">
        <div class="col-sm-12 col-sm-offset-1">
        <br><br> <h2 style="color:#0fad00">Sie können sich jetzt mit ihren Zugangsdaten anmelden.</h2>
        <p style="font-size:20px;color:#5C5C5C;"> Viel Spaß wünscht das Team vom Ressourcenpool Bamberg.</p>
    <br><br>
        </div>
	</div>
</div>
{% endblock %}