{% macro title_description_form(request) -%}
    <input type="text" class="form-control" id="id_title" placeholder="Titel">
    <input type="text" class="form-control" id="id_description" placeholder="Beschreibung">
{% endmacro %}

{% macro location_form(request) -%}
    <input type="text" class="form-control" id="id_title" placeholder="Titel">
    <input type="text" class="form-control" id="id_description" placeholder="Beschreibung">
{% endmacro %}