{% extends 'base.jinja' %}
{% block content %}
    <h1>Ressourcenpool Bamberg</h1>
    <h2>  <img src="{{ static('images/baseline-person-24px.svg') }}"> <bold>Für Ausleiher: </bold> Unter <a href="categorybasedsearch">Suche</a> können Sie nach Artikeln suchen.</h2>
    <h2> <img src="{{ static('images/baseline-mood-24px.svg') }}"> <bold> Für Verleiher: </bold> Unter <a href="login">Login</a> können Sie sich registrieren.</h2>
{% endblock %}