{% extends 'base.jinja' %}
{% block content %}
    <div class="leftBar">
        <ul class="sidebarNavigation">
            <li><u>Verfügbarkeit</u></li>
            <li><input class="checkBox" type="checkbox">verfügbar</li>
            <li><input class="checkBox" type="checkbox">momentan entliehen</li>
            </ul>
    </div>

    <div class="contentBox">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29078.360969948517!2d10.894663245138394!3d49.89526845930254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sde!2sde!4v1526920831877" width="900" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}