{% extends 'base.jinja' %}
{% block content %}
<h1>Ihre Ressourcen:</h1>
        <div class="resource"><a href="itemdetailpage"><img src="{{ static('images/tisch.jpg') }}" class="itemimage"></img></a></div>
{% endblock %}