{% extends 'base.jinja' %}
{% block content %}
<div class="col-12">
    <h1>Über das Projekt</h1>

    <h5>Das ist die Idee dahinter</h5>
    <p>Mit der Plattform machen wir vorhandene Ressourcen in der NGO-Landschaft sichtbar,
unterstützen somit Organisationen und Initiativen in der Projektumsetzung und tragen zu einer
nachhaltigen Nutzung von Ressourcen bei.</p>

    <h5>Was sind Ressourcen</h5>
    <p>Jede Organisation hat Ressourcen. Diese können sowohl materieller als auch immaterieller Natur
    sein. Vorstellbar sind Dinge wie Biertischgarnituren, Audioanlagen, Moderationswände,
    Flipcharts, Pavillons, Beamer, Räume, Lastenräder, Geschirr, Beratung, Glücksräder,
    Wanderausstellungen, Kostüme, Büroausstattung, Dekoration, Gartengeräte, Bohrmaschinen,
    Zurrgurte, Stühle, Ausstellungsflächen, Abstellräume, Sackkarren, Mikros, Boxen… Diese Liste
    ließe sich endlos fortsetzen.</p>

    <h5>Wie funktionierts?</h5>
    <p>Zum Ausleihen vorhandener Ressourcen in Bamberg, suchen Sie auf der Startseite des
    Ressourcenpools nach der benötigten Sache. Um die gesuchte Ressource besser und schneller zu
    finden, können Sie die Ressourcen nach Kategorien filtern oder ihr Schlagwort im
    Freitextsuchfeld eingeben. Der Stadtteil, in dem sich die Ressource befindet, wird in der
    Detailansicht angezeigt. Dort finden Sie auch Informationen zu den Ausleihbedingungen.</p>

    <p>Sie möchten die Ressource anfragen? Die Kontaktdaten finden Sie ebenfalls in der Detailansicht.
    Schreiben Sie einfach eine Email oder rufen Sie die Organisation bzw. Person an.</p>

    <p>Verleiher werden! Um eigene Ressourcen in den Ressourcenpool hochzuladen, benötigen Sie
    Zugangsdaten. Diese erhalten Sie in Nullkommanichts über unsere Registrierung. Und schon kann
    es losgehen!</p>

    <p>Der Ressourcenpool wächst mit der Beteiligung aller Organisationen in unserem Bamberger
    Netzwerk: Jede Einrichtung oder Person, die eine Ressource einstellt, trägt zur Reichhaltigkeit
    des Gesamtangebotes bei, so dass möglichst viele davon profitieren!</p>

    <h5>Wer kann mitmachen?</h5>
    <p><b>Verleiher</b> Die Plattform richtet sich an Organisationen, Vereine, Behörden, Stiftungen,
    Unternehmen, Gruppen und Privatpersonen, die ihre Ressourcen zugunsten gemeinnütziger
    Zwecke/der Allgemeinheit zur Verfügung stellen möchten.</p>

    <p>Der Verleih zu kommerziellen Zwecken ist ausgeschlossen.</p>

    <p><b>Entleiher</b> Alle Menschen dieser Stadt können Ressourcen ausleihen.</p>

    <p>Ausgeschlossen sind jedoch NutzerInnen oder Organisationen, die
    durch rassistische Diskriminierung oder aus Gründen des Geschlechts, der ethnischen
    Herkunft, der Religion oder Weltanschauung, einer Behinderung, des Alters oder sexuellen
    Identität herabwürdigend agieren.</p>

    <p>Die Details zur Nutzung können Sie in unseren Nutzungsbedingungen nachlesen.</p>

    <h5>Sollte ich beim Verleih eine Vereinbarung abschließen?</h5>
    <p>Wir empfehlen beim Verleih von Ressourcen den Abschluss einer Vereinbarung. Dafür steht hier
    eine Vorlage zum Download bereit, die die wichtigsten Dinge regelt. Diese sollte bei Übergabe in
    zweifacher Ausführung unterzeichnet werden.</p>


    <h5>Kann ich auch etwas verschenken?</h5>
    <p>Sie haben Bürostühle abzugeben oder möchten dem ausrangierten, aber noch funktionsfähigen
    Drucker ein neues Zuhause geben? Das ist über den Ressourcenpool Bamberg möglich. Wählen
    Sie beim Hochladen der Ressource dafür einfach den Status Zu Verschenken aus. So können
    NutzerInnen auf den ersten Blick sehen, ob eine Ressource zu verschenken ist.</p>
</div>
{% endblock %}